.Title {
    font-weight: 600;
    flex: 1;
    text-align: center;
    color: #464646;
}

.LeftRow {
    border: 1px solid #fff;
    background-color: #094a5379; 
    color: #fff;
    border-radius: 4px 0 0 4px;
    flex: 1; 
    text-align: center;
}

.RightRow {
    border: 1px solid #fff;
    background-color: #094a5379; 
    color: #fff;
    border-radius: 0 4px 4px 0;
    flex: 1; 
    text-align: center;
}

.Input {
    height: 40px;
    /* border: 2px solid darkcyan; */
    color: #464646;
}

.Label {
    font-weight: 600;
    color: #464646;
}

.Button {
    padding: 5px;
    background-color: rgba(139, 0, 0, 0.575);
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px #4646462f;
    border-radius: 5px;
}

.Button:hover {
    cursor: pointer;
}